[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-cors-headers = "*"
djangorestframework = "*"
django-filter = "*"
djoser = "*"
drf-nested-routers = "*"
pillow = "*"
redis = "*"

[dev-packages]
pytest = "*"
pytest-django = "*"
pytest-watch = "*"

[requires]
python_version = "3.9"
