[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-debug-toolbar = "*"
mysqlclient = "*"
django-cors-headers = "*"
djangorestframework = "*"

[dev-packages]
pytest = "*"
pytest = "*"
pytest-django = "*"

[requires]
python_version = "3.9"
